html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

#HomePage {
	width: 100vw;
}
.mySwiper {
	.mySwiperSlide {
		height: 80vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url(https://images.unsplash.com/photo-1501618669935-18b6ecb13d6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=849&q=80);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.CustomProgressBar {
		width: 100vw;
		height: 100px;
		// background: #ffff;
		position: absolute;
		bottom: 10px;
		z-index: 100;
		border-radius: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		.CPLeft,
		.CPRight {
			width: 10%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffdd40;
			font-size: 20px;
			span {
				min-width: 44px !important;
				min-height: 44px !important;
				background: #ffff;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			}
		}
		.CpProgress {
			width: 70%;
			height: 80%;
			background: #fff;
			border-radius: 50px;
			box-shadow: #64646f33 0px 7px 29px 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 10px;
			.progress {
				background: #f1f1f1;
				justify-content: flex-start;
				border-radius: 100px;
				align-items: center;
				position: relative;

				display: flex;
				height: 30px;

				width: 100%;
				span {
					width: 30px;
					height: 30px;
					background: #ffff;
					box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
					border-radius: 100%;
					position: absolute;
					left: 9%;
				}
			}

			.progress-value {
				animation: load 3s normal forwards;
				box-shadow: 0 10px 40px -10px #fff;
				border-radius: 100px;
				background: #ffdd40;
				height: 30px;

				transition: all 1s;
			}

			// @keyframes load {
			// 	0% {
			// 		width: 0;
			// 	}
			// 	100% {
			// 		width: 20%;
			// 	}
			// }
		}
	}
}
.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical
	> .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	top: unset !important;
	bottom: 0 !important;
}
// 1f5156

#DesignNoteBook {
	width: 100vw;
	height: 80vh;
}
.sample-canvas {
	// 210 × 297
	width: 273px;
	height: 386.1px;
	border: 1px solid black;
	position: relative;
	#top {
		position: absolute;
		top: 0;
		width: 100px;
		height: 20px;
		background: #000;
		z-index: 10;
	}
}

.banner {
	width: 88%;
	margin: 100px auto;
	background-color: #f1f1f1;
	height: 450px;
	border-radius: 40px;
}
.testimonials {
	width: 88%;
	margin: 0 auto;
	/* background-color: aqua; */
	height: 450px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.testimonialCard {
	width: 300px;
	height: 300px;
	position: relative;
}

.upper {
	height: 175px;
	background: linear-gradient(to right, #f7ca69, #f7ba50, #f7b243);
	border-radius: 40px 40px 0 0;
	padding: 35px 30px 0 30px;
}
.lower {
	height: 125px;
	background-color: #f2f2f2;
	border-radius: 0 0 40px 40px;
	text-align: center;
	padding-top: 40px;
}

.stars i {
	font-size: 12px;
}

.testimonial-name {
	font-size: 12px;
	font-weight: 600;
}

.testimonial-subname {
	font-size: 10px;
}

.testimonial-content {
	text-align: center;
	font-size: 11px;
	line-height: 17px;
	color: white;
}
.testimonial-image {
	position: absolute;
	height: 65px;
	width: 65px;
	background-color: rgb(48, 48, 48);
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0);
	border: solid 5px #f2f2f2;
	border-radius: 50%;
}
#Notebook-Design {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 1px;
	left: 0px;
	background: #ffff;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	.NDLeft,
	.NDRight {
		width: 50%;
		height: 100%;
	}
	.NDLeft {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.NDRight {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.DeleteBtn {
			border: none;
			width: 300px;
			height: 40px;
			background: #000;
			border-radius: 10px;
			color: white;
		}
		.NDTriggerAlt {
			border-radius: 0px 0px 0 0 !important;
			margin: unset !important;
		}
		.NDTriggerAlt2 {
			border-radius: 0px 0px 10px 10px !important;
			margin: unset !important;
		}
		.NDTrigger {
			min-width: 400px !important;
			background: #d1d1d1;
			border-radius: 10px 10px 0 0;
			margin: unset !important;
			padding: 10px 10px;
			font-weight: 500;
			border-bottom: 1px solid gray;
			.LSMain {
				// width: 30vw;
				// background: #000;
				background: #ffff;
			}
		}
		.canviActionBtns {
			display: flex;
			align-items: center;
			justify-content: space-around;
			button {
				width: 80px;
				height: 30px;
				border-radius: 5px;
				border: none;
				margin: 0 10px;
				background: #000;
				color: #fff;
				font-size: 15px;
				text-transform: uppercase;
			}
		}
	}
	.LSMain1 {
		padding: 20px;
		img {
			width: 100px;
		}
	}
	.LSMain2 {
		padding: 20px 0;
		.LSMain21 {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-around;
			input {
				outline: none;
			}
			button {
				width: 70px;
				height: 30px;
				border-radius: 5px;
				border: none;
				margin: 0 10px;
				background: #000;
				color: #fff;
				font-size: 10px;
				text-transform: uppercase;
			}
		}
	}
	.LSMain3 {
		padding: 20px 0;
		.LSMain31 {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-around;
			input {
				outline: none;
			}
			button {
				width: 70px;
				height: 30px;
				border-radius: 5px;
				border: none;
				margin: 0 10px;
				background: #000;
				color: #fff;
				font-size: 10px;
				text-transform: uppercase;
			}
			#Kjldsgjkld {
				width: 40px;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			span {
				width: 25px;
				height: 25px;
				background: #d2d2d2;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 3px;
			}
			.selectedStyle {
				border: 2px solid black;
			}
			select {
				width: 50%;
				margin: 10px 0;
			}
		}
	}
	.mySwiper3 {
		width: 100%;
		height: 70%;
		.swiper-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			.main-canvas {
				width: 60%;
				height: 100%;
				border: 1px solid gray;
				border-radius: 10px;
			}
		}
	}
}

.mySwiper4 {
	width: 100%;
	height: 30%;
	padding: 10px;
	.swiper-slide {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 40px 0 40px;
		.main-canvas {
			width: 60%;
			height: 100%;
			// border: 1px solid gray;
			border-radius: 10px;
		}
	}
}
